<div class="row-fluid">
  <div id="mybanner" class="span9">
      <div class="hero-unit">
        <span class="badge badge-inverse text-center">1</span>
      </div>
      <div class="hero-unit">
        <span class="badge badge-inverse">2</span>
      </div>
      <div class="hero-unit">
        <span class="badge badge-inverse">3</span>
      </div>
  </div>
</div>
<div class="row"><div class="span12"></div></div>